.frame{
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    border: 15px solid gold;
    border-radius: 20px;
}

.mainImg{
    width: 70%;
    border: 5px solid gold;
    margin: auto;
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.type{
    margin-top: 20px;
    margin-left: 5%;
    margin-bottom: 20px;
    font-size: 20px;
    float: left;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid black;
}

.name{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    float: left;
    font-weight: bold;
    height: 39px;
}
.sprites{
    width: 100%;
}
.sprite{
    width: 16%;
}
.hp{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    float: left;
}   

.info{
    margin-bottom: 20px;
}

.stats{
    margin-top: 5px;
    margin-bottom: 5px;
}

.borderBar{
    border: 1px solid black;
    width: 70%;
    height: 5px;
    margin-top: 0;
    margin-bottom: 0;
    margin: auto;
}

.progress{
    background-color: green;
    height: 5px;
}

.stat{
    margin-top: 2px;
    margin-bottom: 2px;
}

.abillity{
    border-radius: 10px;
    padding: 3px;
    border: 3px solid black;
    margin-right: 5px;
}

.abilitiesDiv{
    margin-top: 15px;
}

.heightWeight{
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.init{
    margin-top: 100px;
    font-size: 30px;
    font-weight: bolder;
}

@media screen and (max-width: 510px) {
    .type{
        margin-top: 20px;
        margin-left: 2%;
        margin-bottom: 20px;
        font-size: 15px;
        float: left;
        padding: 3px;
        border-radius: 5px;
        border: 2px solid black;
    }

    .name{
        margin-top: 20px;
        margin-left: 15px;
        margin-bottom: 20px;
        font-size: 20px;
        float: left;
        font-weight: bold;
        height: 39px;
    }

    .hp{
        margin-top: 20px;
        margin-left: 15px;
        margin-bottom: 20px;
        font-size: 20px;
        float: left;
    }

}