.NavButton{
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #2e8b57;
    border-radius: 10px;
    font-size: 20px;
}

.NavInput{
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 0; 
    font-size: 20px;
    border-radius: 10px;
}

.formBar{
    background: #536976; 
    background: -webkit-linear-gradient(to right, #292E49, #536976); 
    background: linear-gradient(to right, #292E49, #536976);
}

.autocomplete:hover{
    border: 1px solid gray;
}

.AcDiv{
    background: white; 
    position: absolute;
    font-size: 20px;
    width: 200px;
    margin-top:  55px;
    margin-left: 43%;
    text-align: left;
    opacity: 0.9;
}
@media screen and (max-width: 480px) {
    .AcDiv{
        margin-left: 15%;
        text-align: left;
        opacity: 0.9;
    }

}